
.select-form-container {
	position: relative;
}

/* Box
========================================================================== */

.box {
	position: relative;
	z-index: 2;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	.form-group-line-vertical {
		margin: 0;

	    > .form-group-column {
	        padding: 20px;
	    }
	}

	.box-content {
		overflow: hidden;
	}

	.ui-widget-content {
		border: 0;
		@include border-radius(0, 0);
		@include box-shadow(0 0 0 rgba(0,0,0,0.10));
	}
}

.box-under-box {
	z-index: 1;
	margin-top: -35px;

	.box-content-space-default {
		padding-top: 20px;
		padding-bottom: 15px;
	}
}

.tabs-content-space-default,
.box-content-space-default {
	padding: 20px;
	
	.columns-line-vertical,
	.form-group-line-vertical {
		margin: -20px 0;
		
		> .column,
	    > .form-group-column {
	        padding-top: 20px;
	        padding-bottom: 20px;
	    }

	    > .column {
	    	padding-left: 20px;
	    	padding-right: 20px;

	    	&:first-child {
	    		padding-left: 0;
	    	}

	    	&:last-child {
	    		padding-right: 0;
	    	}
	    }
	}

	.scrollbar {
		margin: -20px -21px -22px -20px;
	}
}

.tabs-content-space-default .scrollbar {
	margin: 0;
}

.box-header {
	overflow: hidden;
	position: relative;
	height: 37px;
	padding: 8px 5px 0 20px;
	margin: -1px;
	border: 1px solid #bababf;
	background: #ebecf2;
	@include border-radius(4px, 4px);
	@include box-shadow(0 2px 2px rgba(0,0,0,0.10));
}

.box-header-title {
	display: inline-block;
	position: relative;	
	margin: 0;
	padding-left: 25px;
	font-size: 13px;
	font-weight: 600;

	.ico {
		position: absolute;
		top: 2px;
		left: 0;
	}
}

.lt-ie9 .box-header-title {
	padding-left: 22px;
}

.box-accordion .box-header {
	padding-left: 50px;
	cursor: pointer;
}

.lt-ie9 .box-accordion .box-header {
	padding-left: 42px;
}

.box-accordion .box-header:before {
	position: absolute;
	top: 50%;
	left: 12px;
	margin-top: -3px;
	content: '';
	display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: #1c1940 transparent transparent transparent;
}

.box-accordion .box-header:after {
	position: absolute;
	top: 0;
	left: 30px;
	content: '';
	display: block;
	width: 1px;
	height: 100%;
	background: #d1d2d8;
}

.box-accordion.selected .box-header:before {
	border-width: 0 3px 5px 3px;
	border-color: transparent transparent #1c1940 transparent;
}

.box-accordion-content {
	display: none;
}

.box-white {
	border: 1px solid #bababf;
	background: #fff;
	@include border-radius(4px, 4px);
	@include box-shadow(0 2px 2px rgba(0,0,0,0.10));
}

.box-blue {
	border: 1px solid #bababf;
	background: #f7f7fc;
	@include border-radius(4px, 4px);
	@include box-shadow(0 2px 2px rgba(0,0,0,0.10));
}

/* Sec top
========================================================================== */

.page {
	min-width: 980px;
	padding-bottom: 30px;
}

/* Sec top
========================================================================== */

.sec-top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	width: 100%;
	min-width: 980px;
	color: #fff;
	background: #1c1940;
}

.navigation-top {
	> ul {
		> li {
			position: relative;
			float: left;
			border-right: 1px solid #333053;

			> a {
				display: block;
				padding-right: 18px;
				height: 45px;
				line-height: 45px;
				color: #fff;

				span {
					display: inline-block;
					width: 36px;
					line-height: 1;
					vertical-align: middle;
					text-align: center;
				}
			}

			&:hover > a,
			&.active > a {
				color: #ef6b00;
				background: #161433;
			}

			&.active-menu {
				> ul {
					opacity: 1;
					visibility: visible;
				}
			}

			> ul {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				width: 240px;
				background: #fff;
				@include border-radius(4px 4px);
				@include box-shadow(0 10px 20px rgba(0,0,0,0.50));
				transition: opacity 100ms ease-in-out;
				-webkit-transition: opacity 100ms ease-in-out;
				-moz-transition: opacity 100ms ease-in-out;

				> li {
					position: relative;

					> a {
						position: relative;
						overflow: hidden;
						display: block;
						padding: 6px 30px;
						border: 1px solid #fff;
						border-left: 0;
						border-right: 0;
						transition: padding 200ms ease-in-out;
						-webkit-transition: padding 200ms ease-in-out;
						-moz-transition: padding 200ms ease-in-out;

						&:before,
						&:after {
							position: absolute;
							top: 50%;
							margin-top: -2px;
							content: '';
							display: block;
							width: 10px;
							height: 5px;
							background: url("../img/nav-top-arrow.png");
							transition: left 200ms ease-in-out, right 200ms ease-in-out;
							-webkit-transition: left 200ms ease-in-out, right 200ms ease-in-out;
							-moz-transition: left 200ms ease-in-out, right 200ms ease-in-out;
						}

						&:before {
							left: -100px;
							background-position: 0 -15px;
						}

						&:after {
							right: 30px;
							background-position: 0 0;
						}
					}

					&:hover > a {
						color: #ef6b00;
						background: #f7f7fc;
						border-color: #e5e5e5;
						padding-left: 50px;

						&:before {
							left: 30px;
						}

						&:after {
							right: -30px;
							background-position: 0 0;
						}		
					}

					&.active-menu {
						> .sub-menu-level-three {
							opacity: 1;
							visibility: visible;
						}
					}

					.sub-menu-level-three {
						opacity: 0;
						visibility: hidden;
						position: absolute;
						left: 100%;
						top: 0;
						z-index: 20;
						width: 700px;
						padding: 30px;
						color: #1c1940;
						background: #fff;
						@include border-radius(4px 4px);
						@include box-shadow(0 10px 20px rgba(0,0,0,0.50));
						transition: opacity 100ms ease-in-out;
						-webkit-transition: opacity 100ms ease-in-out;
						-moz-transition: opacity 100ms ease-in-out;

						a {
							color: #1c1940;

							&:hover {
								color: #ef6b00;
							}
						}

						h3 {
							margin: 40px 0 15px 0;
							font-size: 13px;

							&:first-child {
								margin-top: 0;
							}

							&:last-child {
								margin-bottom: 0;
							}
						}

						ul {
							margin: 0;
							padding: 0;
							list-style: none;
							border-left: 1px solid #d7d7dc;
							padding-left: 10px;

							li {
								margin-bottom: 10px;

								&:last-child {
									margin-bottom: 0;
								}
							}
						}

						.columns {
							margin: -30px;

							.column {
								padding: 30px;
								border-right: 1px solid #d7d7dc;

								&:last-child {
									border-right: 0;
								}
							}

							&.columns-items-1 .column {
								width: 100%;
								float: none;
							}

							&.columns-items-2 .column {
								width: 50%;
							}

							&.columns-items-3 .column {
								width: 33.333333333%;
							}

							&.columns-items-4 .column {
								width: 25%;
							}
						}
					}
				}
			}
		}
	}
}

.lt-ie9 .navigation-top > ul > li > a span {
	width: 34px;
}

.lt-ie9 .navigation-top > ul > li > ul {
	display: none;
}

.lt-ie9 .navigation-top > ul > li:hover > ul {
	display: block;
	visibility: visible;
	border: 1px solid #ededed;
}

.lt-ie9 .navigation-top .sub-menu-level-three {
	border: 1px solid #ededed;
}

/* Sec main
========================================================================== */

.sec-main-container {
	min-height: 363px;
	background: url("../img/bg-main.png") no-repeat 50% 0;
}

.sec-main {
	margin-top: -30px;
}

/* Sec hero
========================================================================== */

.sec-main-hero {
	position: relative;
	padding: 42px 0 60px 0;
	border-bottom: 1px solid #d7d7dc;
	background: rgba(96,94,157,0.10);
}

.sec-main-hero:after {
	clear: both;
	display: block;
	content: '';
}

.sec-main-hero-title {
	position: relative;
	float: left;
	margin: 0;
	font-size: 25px;
	color: #1c1940;

	.btn-small {
		position: absolute;
		top: -18px;
		left: 0;
	}

	.btn-ico {
		margin-left: 70px;
	}
}

/* Panel fixed
========================================================================== */

.panel-fixed {
	position: fixed;
	top: 77px;
	left: 0;
	z-index: 20;
	width: 200px;

	.box {
		margin-bottom: 10px;
	}

	.scrollbar {
		height: 272px;
	}
}

.panel-fixed-content {
	display: none;
	padding: 5px;
	margin-left: -5px;
	background: #fff;
	@include border-radius(4px);
}

.panel-fixed-selected {
	left: 20px;
}

.panel-fixed-selected .panel-fixed-developed {
	background: none;
	border: 0;
	@include border-radius(0);
	@include box-shadow(0 0 0 rgba(0,0,0,0.10));
}

.panel-fixed-selected .panel-fixed-developed span {
	width: 34px;
	background: #fff;
	@include border-radius(4px, 4px);
}

.panel-fixed-selected .panel-fixed-developed span:before {
	left: 12px;
	border-width: 3px 5px 3px 0;
	border-color: transparent #1c1940 transparent transparent;   
}

.panel-fixed-developed {
	display: block;
	width: 50px;
	padding: 9px 5px 9px 0;
	margin-bottom: 0;
	background: #fff;
	border: 1px solid #bababf;
	@include border-top-right-radius(4px);
	@include border-bottom-right-radius(4px);
	@include box-shadow(0 2px 2px rgba(0,0,0,0.10));
}

.panel-fixed-developed span {
	cursor: pointer;
	position: relative;
	display: block;
	width: 40px;
	height: 34px;
	background: #ebecf2;
	border: 1px solid #bababf;
	@include border-top-right-radius(4px);
	@include border-bottom-right-radius(4px);
	@include box-shadow(0 2px 2px rgba(0,0,0,0.10));
}

.panel-fixed-developed span:before {
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -3px;
	content: '';
	display: block;
    width: 0;
    height: 0;
    border-style: solid;
	border-width: 3px 0 3px 5px;
	border-color: transparent transparent transparent #1c1940;    
}

.panel-fixed-selected .panel-fixed-content {
	display: block;
}

.fixed-panel-developed .sec-main-hero,
.fixed-panel-developed .sec-main {
	// padding-left: 100px;
}

/* Scrollbar default
========================================================================== */

.scrollbar-default {
	overflow: hidden;
	border: 1px solid #c5c6cb;
	@include border-radius(4px, 4px);
}

.scrollbar-gray {
	overflow: hidden;
	border: 1px solid #c5c6cb;
	background: #f8f8f8;
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.15));
	@include border-radius(4px, 4px);
}

.scrollbar-gray .mCSB_scrollTools,
.scrollbar-default .mCSB_scrollTools {
	margin: -2px -1px;
}

/* CV preview
========================================================================== */

.scrollbar-cv-preview {
	height: 400px;
}

/* Search quick
========================================================================== */

.search-quick {
	position: relative;
	margin: 14px 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.form-field {
		margin-bottom: 0;
		width: 70%;
		float: left;
	}

	.btn {
		width: 28%;
		float: right;
	}
}

/* List documents
========================================================================== */

.scrollbar-list-cv {
	height: 400px;
}

.list-documents {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
		}
	}

	.columns {
		margin: 0;
	}

	.list-documents-elements > li {
		padding: 15px 10px 14px 10px;
		margin-bottom: -1px;
		border: 1px solid #d1d2d8;
		border-left: 0;
		border-right: 0;
		border-top: 0;

		&:last-child {
			padding-bottom: 15px;
		}

		&.item-width-level {
			padding-bottom: 0;
			border-bottom: 0;
		}

		.list-documents-elements {
			margin: 13px 0;

			> li {
				position: relative;
				margin: 0 -10px -1px -10px;
				padding-left: 35px;
				padding: 15px 10px 15px 35px;
				border: 1px solid #d1d2d8;
				border-left: 0;
				border-right: 0;
				background: #f7f7fc;

				&:before {
					position: absolute;
					top: 0;
					left: 18px;
					content: '';
					display: block;
					height: 100%;
					width: 1px;
					background: #d1d2d8;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.column-content {
		font-size: 11px;

		h3 {
			margin: 0;
			font-size: 11px;
		}

		time {
			display: block;
		}

		.document-caption {
			display: block;
			color: #ef6b00;
		}

		p {
			margin-top: 16px;
			//margin-bottom: 0;
		}
	}

	.btn-options {
		li {
			width: 35px;
		}
	}

	.item-document .column-content {
		padding-left: 29px;
		background: url("../img/ico-document-word.png") no-repeat;
	}
}

/* List short
========================================================================== */

.list-short {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 11px;
}

.list-short li {
	margin: 0 0 -1px 0;
	padding: 7px 20px;
	border: 1px solid #d1d2d8;
	border-left: 0;
	border-right: 0;
}

.list-short li:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.list-short li:nth-child(2n) {
	background: #f7f7fc;
}

/* Tabs
========================================================================== */

.tabs-nav {
	overflow: hidden;
	padding-top: 5px;
	margin-top: -5px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		height: 42px;

		&:after {
			clear: both;
			display: block;
			content: '';
		}
	}

	li {
		margin-right: -1px;
		overflow: hidden;
		position: relative;
		float: left;
		padding: 0 10px;
		height: 39px;
		line-height: 37px;
		font-weight: 600;
		border: 1px solid #d1d2d8;
		background: #f7f7fc;
		cursor: pointer;
		@include border-top-left-radius(4px);
		@include border-top-right-radius(4px);

		&.active {
			margin-top: -3px;
			z-index: 5;
			border-color: #ef6b00;
			border-bottom: 0;
			background: #fff;
			height: 44px;
			line-height: 42px;
		}

		&:hover {
			color: #ef6b00;
		}
	}

	margin-bottom: -6px;
}

.tabs-content {
	position: relative;
	z-index: 2;
	border: 1px solid #bababf;
	background: #fff;
	@include border-radius(4px, 4px);
	@include box-shadow(0 2px 2px rgba(0,0,0,0.10));
}

.lt-ie9 .tabs-nav li {
	padding: 0 8px;
}

/* Detalis
========================================================================== */

.form-detalis {
	.form-group-inline {
		.form-group-column {
			width: 33.333333333%;

			.form-group-inline {
				.form-group-column {
					width: 43%;

					&:nth-child(2n) {
						float: right;
					}
				}
			}
		}
	}
}

/* Block actions
========================================================================== */

.block-actions {
	text-align: center;
}

/* Elements
========================================================================== */

.navigation {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}