/* Form global
========================================================================== */
::-webkit-input-placeholder { color: #404040; }
:-moz-placeholder { color: #404040; }
::-moz-placeholder { color: #404040; }
:-ms-input-placeholder { color: #404040; }

input,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

textarea {
    resize: none;
}