/* Colors
========================================================================== */
$color_default:     #404040;
$color_green:       #008000;


/* Fonts
========================================================================== */
//@import url($fontURL);
$font_normal:       'Roboto', Arial, sans-serif;